[alias]
    # View the current working tree status using the short format
    s = status -s

    # Show the diff between the latest commit and the current state
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

    co = checkout
    st = status

[diff]
    tool = vimdiff

[user]
    name = Jay Qin
    email = jay@jayqin.com

[core]
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore

[push]
    default = simple

